$main-font: 'DM Sans', sans-serif;
$secondary-font: 'Titan One', cursive;
$accent-color: #d41443;
$bg-color: #ffb8ca;
$pale-bg-color: #ffa5ba;
$contrast-bg-color: #e18298;
$section-bg-color: #fff5f6;
$white-color: #ffffff;
$transition-duration: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
