@media screen and (min-width: 480px) and (max-width: 767px) {
  .contacts-container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts-container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-container {
    width: 1280px;
  }
}
.contacts {
  display: block;
  margin: 0 auto;
}

.contacts-container {
  margin: 0 auto;
  padding: 0 15px;
}
.contacts-lists__card {
  line-height: 1.5;
  padding-left: 20px;
  padding-top: 42px;
  padding-bottom: 42px;
  padding-right: 20px;
  height: 427px;
  background: $white-color;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
/*.contacts-lists__card:not(&:last-child) {
  margin-bottom: 20px;
}*/
.contacts-list__button {
  min-width: 80px;
  background: #f0d1a5;
  border-radius: 6px;
  border-color: transparent;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: $white-color;
  margin-bottom: 25px;
}
.food-truck {
  background: #c2e297;
  min-width: 130px;
}
.contacts-lists__city {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 10px;
}
.contacts-lists__desc {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}
.contacts-lists__location,
.contacts-lists__schedule {
  position: relative;
  margin-bottom: 50px;
  &::after {
    top: 95px;
    left: 0;
    position: absolute;
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: $white-color;
  }
}
.contacts-button {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  border-radius: 22px;
  align-items: center;
  text-align: center;
  border: transparent;
  &:not(&:last-child) {
    margin-bottom: 10px;
  }
}
