/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

@import './base/variables';
@import './base/reset';
@import './base/visually-hidden';
@import './base/container';
@import './layout/products';

@import './components/mobile-menu';

@import './layout/hh';
@import './layout/footer';
