<!--Contacts-->
<section class="contacts" id="contact">
    <div class="contacts-container container">
        <h2 class="visually-hidden">Contacts</h2>

        <ul class="contacts-lists list">
            <li class="contacts-lists__card">
                <button class="contacts-list__button" type="button">CAFE</button>
                <div class="contacts-lists__location">
                    <b class="contacts-lists__city">Chicago</b>
                    <p class="contacts-lists__desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts-lists__schedule">
                    <b class="contacts-lists__day">Monday - Friday</b>
                    <p class="contacts-lists__time">06:00 AM - 10:00 PM</p>
                    <b class="contacts-lists__day">Saturday - Sunday</b>
                    <p class="contacts-lists__time">08:00 AM - 16:00 PM</p>
                </div>
                <ul class="contacts-lists__telmail">
                    <li class="contacts-list__items list">
                        <a class="contacts-list__link link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts-list__items list">
                        <a class="contacts-list__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

            <li class="contacts-lists__card">
                <button class="contacts-list__button food-truck" type="button">FOOD TRUCK</button>
                <div class="contacts-lists__location">
                    <b class="contacts-lists__city">Los Angeles</b>
                    <p class="contacts-lists__desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts-lists__schedule">
                    <b class="contacts-lists__day">Monday - Friday</b>
                    <p class="contacts-lists__time">06:00 AM - 10:00 PM</p>
                    <b class="contacts-lists__day">Saturday - Sunday</b>
                    <p class="contacts-lists__time">08:00 AM - 16:00 PM</p>
                </div>
                <ul class="contacts-lists__telmail">
                    <li class="contacts-list__items list">
                        <a class="contacts-list__link link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts-list__items list">
                        <a class="contacts-list__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

            <li class="contacts-lists__card">
                <button class="contacts-list__button" type="button">CAFE</button>
                <div class="contacts-lists__location">
                    <b class="contacts-lists__city">New York</b>
                    <p class="contacts-lists__desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts-lists__schedule">
                    <b class="contacts-lists__day">Monday - Friday</b>
                    <p class="contacts-lists__time">06:00 AM - 10:00 PM</p>
                    <b class="contacts-lists__day">Saturday - Sunday</b>
                    <p class="contacts-lists__time">08:00 AM - 16:00 PM</p>
                </div>
                <ul class="contacts-lists__telmail">
                    <li class="contacts-list__items list">
                        <a class="contacts-list__link link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts-list__items list">
                        <a class="contacts-list__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="contacts-button__wrapper list">
            <li class="contacts-button_item">
                <button class="contacts-button__locations" type="button" data-modal-open>Our locations
                    <svg class="about__btn-location" width="4.43" height="8">
                        <use href="./images/sprite.svg#icon-Key-right"></use>
                    </svg>
                </button>
            </li>
            <li class="contacts-button_item">
                <button class="contacts-button__franchise" type="button" data-modal-open>Franchise
                    <svg class="about__btn-arrow" width="4.43" height="8">
                        <use href="./images/sprite.svg#icon-Key-right"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>