<!--Contacts-->
<section class="contacts" id="contact">
    <div class="contacts-container container">
        <h2 class="visually-hidden">Contacts</h2>

        <ul class="contacts-lists list">
            <li class="contacts-lists__card">
                <button class="contacts-list__button" type="button">CAFE</button>
                <div class="contacts-lists__location">
                    <b class="contacts-lists__city">Chicago</b>
                    <p class="contacts-lists__desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts-lists__schedule">
                    <b class="contacts-lists__day">Monday - Friday</b>
                    <p class="contacts-lists__time">06:00 AM - 10:00 PM</p>
                    <b class="contacts-lists__day">Saturday - Sunday</b>
                    <p class="contacts-lists__time">08:00 AM - 16:00 PM</p>
                </div>
                <ul class="contacts-lists__telmail">
                    <li class="contacts-list__items list">
                        <a class="contacts-list__link link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts-list__items list">
                        <a class="contacts-list__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

            <li class="contacts-lists__card">
                <button class="contacts-list__button food-truck" type="button">FOOD TRUCK</button>
                <div class="contacts-lists__location">
                    <b class="contacts-lists__city">Los Angeles</b>
                    <p class="contacts-lists__desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts-lists__schedule">
                    <b class="contacts-lists__day">Monday - Friday</b>
                    <p class="contacts-lists__time">06:00 AM - 10:00 PM</p>
                    <b class="contacts-lists__day">Saturday - Sunday</b>
                    <p class="contacts-lists__time">08:00 AM - 16:00 PM</p>
                </div>
                <ul class="contacts-lists__telmail">
                    <li class="contacts-list__items list">
                        <a class="contacts-list__link link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts-list__items list">
                        <a class="contacts-list__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

            <li class="contacts-lists__card">
                <button class="contacts-list__button" type="button">CAFE</button>
                <div class="contacts-lists__location">
                    <b class="contacts-lists__city">New York</b>
                    <p class="contacts-lists__desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts-lists__schedule">
                    <b class="contacts-lists__day">Monday - Friday</b>
                    <p class="contacts-lists__time">06:00 AM - 10:00 PM</p>
                    <b class="contacts-lists__day">Saturday - Sunday</b>
                    <p class="contacts-lists__time">08:00 AM - 16:00 PM</p>
                </div>
                <ul class="contacts-lists__telmail">
                    <li class="contacts-list__items list">
                        <a class="contacts-list__link link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts-list__items list">
                        <a class="contacts-list__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="contacts-button__wrapper list">
            <li class="contacts-button_item">
                
                <button class="contacts-button__locations" type="button" id="myBtn">Our locations
                    <svg class="about__btn-location" width="4.43" height="8">
                        <use href="./images/sprite.svg#icon-Key-right"></use>
                    </svg>
                </button>
                <div id="myModal" class="modal1">
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.778941950722!2d-87.67897108472584!3d41.89761097217231!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd2ca94d66749%3A0x307a503442875b72!2zODU5IE4gRGFtZW4gQXZlLiwgQ2hpY2FnbywgSUwgNjA2MjIsINCh0KjQkA!5e0!3m2!1sru!2sua!4v1619600787219!5m2!1sru!2sua"
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        <span class="close">×</span>
                
                </div>
                  </li>
            <li class="contacts-button_item">
                <button class="contacts-button__franchise" type="button" data-modal-open>Franchise
                    <svg class="about__btn-arrow" width="4.43" height="8">
                        <use href="./images/sprite.svg#icon-Key-right"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>