<footer class="footer">
    <div class="container">
        <div class="footer__motto">
        <p class="footer__title">
            homemade ice cream made
        </p>
        <p class="footer__text">with passion

        </p>
        </div>
        <div class="social-links__wrapper">
        <div class="social-links">
            <ul class="social-links__list list">
                <li class="social-links__item">
                    <a class="social-links__link link" href="https://github.com/" target="_blank"
                                rel="noopener noreferrer">
                    <svg class="social-links__icon">
                        <use href="./images/sprite.svg#icon-github">

                        </use>
                    </svg>
                </a>
            </li>
                <li class="social-links__item">
                    <a class="social-links__link link" href="https://xn--80affa3aj0al.xn--80asehdb/" target="_blank"
                                rel="noopener noreferrer">
                    <svg class="social-links__icon">
                        <use href="./images/sprite.svg#icon-telegram">

                        </use>
                    </svg>
                </a>
            </li>
                <li class="social-links__item">
                    <a class="social-links__link link" href="https://www.facebook.com/" target="_blank"
                                rel="noopener noreferrer">
                    <svg class="social-links__icon">
                        <use href="./images/sprite.svg#icon-facebook">

                        </use>
                    </svg>
                </a>
            </li>
            </ul>
            </div>
       
            <div class="footer-tel">
                <a class="footer__tel address link" href="tel:+61(0)383766284">Feel free to contact 
                    <span class="tel-color">+61 (0) 383 766 284</span> 
                </a>
            </div>
        </div>
            
        </div>
<div class="copyright">
    <p class="copyright__text"> &copy; 2019 - IceCream. All Rights Reserved. </p>
</div>

<!-- Scroll To Top -->
<a href="#" class="to-top">
    <i class="fas fa-chevron-up"></i>
</a>
<!-- <button onclick='window.scrollTo({top:0, behaviour: "smooth"});' class="to-top">
    <i class="fas fa-chevron-up"></i>
</button> -->
</footer>
