<!-- Gallery Section -->
<section class="gallery section">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="container">         
        <picture>
            <source srcset="./images/gallery/desktop/gallery-bg-desk.webp 1x, ./images/gallery/desktop/gallery-bg-desk@2x.webp 2x"
                media="(min-width: 1280px)" type="image/webp">
            <source srcset="./images/gallery/desktop/gallery-bg-desk.png 1x, ./images/gallery/desktop/gallery-bg-desk@2x.png 2x"
                media="(min-width: 1280px)">
            <source srcset="./images/gallery/tablet/gallery-bg-tabl.webp 1x, ./images/gallery/tablet/gallery-bg-tabl@2x.webp 2x"
                media="(min-width: 768px)" type="image/webp">
            <source srcset="./images/gallery/tablet/gallery-bg-tabl.png 1x, ./images/gallery/tablet/gallery-bg-tabl@2x.png 2x"
                media="(min-width: 768px)">
            <source srcset="./images/gallery/mobile/gallery-bg-mob.webp 1x, ./images/gallery/mobile/gallery-bg-mob@2x.webp 2x"
                media="(min-width: 320px)" type="image/webp">
            <source srcset="./images/gallery/mobile/gallery-bg-mob.png 1x, ./images/gallery/mobile/gallery-bg-mob@2x.png 2x"
                media="(min-width: 320px)">
            <img class="gallery-img" src="./images/gallery/desktop/gallery-bg-desk.png" alt="A set of ice-cream photos">
        </picture>
    </div>
</section>