<!-- Gallery Section -->
<section class="gallery section">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="container">
        <picture>
            <source srcset="./images/gallery/desktop/gallery-bg-desktop.webp 1x, ./images/gallery/desktop/gallery-bg-desktop@2x.webp 2x"
                media="(min-width: 1200px)" type="image/webp">
            <source srcset="./images/gallery/desktop/gallery-bg-desktop.jpg 1x, ./images/gallery/desktop/gallery-bg-desktop@2x.jpg 2x"
                media="(min-width: 1200px)">
            <source srcset="./images/gallery/tablet/gallery-bg-tablet.webp 1x, ./images/gallery/tablet/gallery-bg-tablet@2x.webp 2x"
                media="(min-width: 768px)" type="image/webp">
            <source srcset="./images/gallery/tablet/gallery-bg-tablet.jpg 1x, ./images/gallery/tablet/gallery-bg-tablet@2x.jpg 2x"
                media="(min-width: 768px)">
            <source srcset="./images/gallery/mobile/gallery-bg-mobile.webp 1x, ./images/gallery/mobile/gallery-bg-mobile@2x.webp 2x"
                media="(min-width: 320px)" type="image/webp">
            <source srcset="./images/gallery/mobile/gallery-bg-mobile.jpg 1x, ./images/gallery/mobile/gallery-bg-mobile@2x.jpg 2x"
                media="(min-width: 320px)">
            <img class="gallery-img" src="./images/gallery/desktop/gallery-bg-desktop.jpg" alt="A set of ice-cream photos">
        </picture>
    </div>
</section>