<!-- Gallery Section -->
<section class="gallery section">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="container">         
        <div class="gallery__wrapper">
            <div class="gallery__item gallery__item--1">
                <picture>
                    <source
                        srcset="./images/glr/desktop/pexels-anna-tukhfatullina-desktop.webp 1x, ./images/glr/desktop/pexels-anna-tukhfatullina-desktop@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source srcset="./images/glr/desktop/pexels-anna-tukhfatullina-desktop.jpg 1x, ./images/glr/desktop/pexels-anna-tukhfatullina-desktop@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source srcset="./images/glr/tablet/pexels-anna-tukhfatullina-tablet.webp 1x, ./images/glr/tablet/pexels-anna-tukhfatullina-tablet@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source srcset="./images/glr/tablet/pexels-anna-tukhfatullina-tablet.jpg 1x, ./images/glr/tablet/pexels-anna-tukhfatullina-tablet@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source srcset="./images/glr/mobile/pexels-anna-tukhfatullina-mobile.webp 1x, ./images/glr/mobile/pexels-anna-tukhfatullina-mobile@2x.webp 2x"
                        media="(min-width: 320px)" type="image/webp">
                    <source srcset="./images/glr/mobile/pexels-anna-tukhfatullina-mobile.jpg 1x, ./images/glr/mobile/pexels-anna-tukhfatullina-mobile@2x.jpg 2x"
                        media="(min-width: 320px)">
                    <img class="gallery__image" src="./images/glr/desktop/pexels-anna-tukhfatullina-desktop.jpg" alt="A set of ice-cream photos">
                </picture>
            </div>
            <div class="gallery__item gallery__item--2">
                <picture>
                    <source
                        srcset="./images/glr/desktop/pexels-ave-calvar-martinez-desktop.webp 1x, ./images/glr/desktop/pexels-ave-calvar-martinez-desktop@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source
                        srcset="./images/glr/desktop/pexels-ave-calvar-martinez-desktop.jpg 1x, ./images/glr/desktop/pexels-ave-calvar-martinez-desktop@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/glr/tablet/pexels-ave-calvar-martinez-tablet.webp 1x, ./images/glr/tablet/pexels-ave-calvar-martinez-tablet@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source
                        srcset="./images/glr/tablet/pexels-ave-calvar-martinez-tablet.jpg 1x, ./images/glr/tablet/pexels-ave-calvar-martinez-tablet@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/glr/mobile/pexels-ave-calvar-martinez-mobile.webp 1x, ./images/glr/mobile/pexels-ave-calvar-martinez-mobile@2x.webp 2x"
                        media="(min-width: 320px)" type="image/webp">
                    <source
                        srcset="./images/glr/mobile/pexels-ave-calvar-martinez-mobile.jpg 1x, ./images/glr/mobile/pexels-ave-calvar-martinez-mobile@2x.jpg 2x"
                        media="(min-width: 320px)">
                    <img class="gallery__image" src="./images/glr/desktop/pexels-ave-calvar-martinez-desktop.jpg"
                        alt="A set of ice-cream photos">
                </picture>
            </div>
            <div class="gallery__item gallery__item--3">
                <picture>
                    <source
                        srcset="./images/glr/desktop/pexels-karley-saagi-desktop.webp 1x, ./images/glr/desktop/pexels-karley-saagi-desktop@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source
                        srcset="./images/glr/desktop/pexels-karley-saagi-desktop.jpg 1x, ./images/glr/desktop/pexels-karley-saagi-desktop@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/glr/tablet/pexels-karley-saagi-tablet.webp 1x, ./images/glr/tablet/pexels-karley-saagi-tablet@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source
                        srcset="./images/glr/tablet/pexels-karley-saagi-tablet.jpg 1x, ./images/glr/tablet/pexels-karley-saagi-tablet@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/glr/mobile/pexels-karley-saagi-mobile.webp 1x, ./images/glr/mobile/pexels-karley-saagi-mobile@2x.webp 2x"
                        media="(min-width: 320px)" type="image/webp">
                    <source
                        srcset="./images/glr/mobile/pexels-karley-saagi-mobile.jpg 1x, ./images/glr/mobile/pexels-karley-saagi-mobile@2x.jpg 2x"
                        media="(min-width: 320px)">
                    <img class="gallery__image" src="./images/glr/desktop/pexels-karley-saagi-desktop.jpg"
                        alt="A set of ice-cream photos">
                </picture>
            </div>
            <div class="gallery__item gallery__item--4">
                <picture>
                    <source
                        srcset="./images/glr/desktop/pexels-key-notez-desktop.webp 1x, ./images/glr/desktop/pexels-key-notez-desktop@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source
                        srcset="./images/glr/desktop/pexels-key-notez-desktop.jpg 1x, ./images/glr/desktop/pexels-key-notez-desktop@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/glr/tablet/pexels-key-notez-tablet.webp 1x, ./images/glr/tablet/pexels-key-notez-tablet@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source
                        srcset="./images/glr/tablet/pexels-key-notez-tablet.jpg 1x, ./images/glr/tablet/pexels-key-notez-tablet@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/glr/mobile/pexels-key-notez-mobile.webp 1x, ./images/glr/mobile/pexels-key-notez-mobile@2x.webp 2x"
                        media="(min-width: 320px)" type="image/webp">
                    <source
                        srcset="./images/glr/mobile/pexels-key-notez-mobile.jpg 1x, ./images/glr/mobile/pexels-key-notez-mobile@2x.jpg 2x"
                        media="(min-width: 320px)">
                    <img class="gallery__image" src="./images/glr/desktop/pexels-key-notez-desktop.jpg"
                        alt="A set of ice-cream photos">
                </picture>
            </div>
            <div class="gallery__item gallery__item--5">
                <picture>
                    <source
                        srcset="./images/glr/desktop/pexels-koolshooters-desktop.webp 1x, ./images/glr/desktop/pexels-koolshooters-desktop@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source
                        srcset="./images/glr/desktop/pexels-koolshooters-desktop.jpg 1x, ./images/glr/desktop/pexels-koolshooters-desktop@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/glr/tablet/pexels-koolshooters-tablet.webp 1x, ./images/glr/tablet/pexels-koolshooters-tablet@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source
                        srcset="./images/glr/tablet/pexels-koolshooters-tablet.jpg 1x, ./images/glr/tablet/pexels-koolshooters-tablet@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/glr/mobile/pexels-koolshooters-mobile.webp 1x, ./images/glr/mobile/pexels-koolshooters-mobile@2x.webp 2x"
                        media="(min-width: 320px)" type="image/webp">
                    <source
                        srcset="./images/glr/mobile/pexels-koolshooters-mobile.jpg 1x, ./images/glr/mobile/pexels-koolshooters-mobile@2x.jpg 2x"
                        media="(min-width: 320px)">
                    <img class="gallery__image" src="./images/glr/desktop/pexels-koolshooters-desktop.jpg"
                        alt="A set of ice-cream photos">
                </picture>
            </div>
            <div class="gallery__item gallery__item--6">
                <picture>
                    <source
                        srcset="./images/glr/desktop/pexels-megan-markham-desktop.webp 1x, ./images/glr/desktop/pexels-megan-markham-desktop@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source
                        srcset="./images/glr/desktop/pexels-megan-markham-desktop.jpg 1x, ./images/glr/desktop/pexels-megan-markham-desktop@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/glr/tablet/pexels-megan-markham-tablet.webp 1x, ./images/glr/tablet/pexels-megan-markham-tablet@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source
                        srcset="./images/glr/tablet/pexels-megan-markham-tablet.jpg 1x, ./images/glr/tablet/pexels-megan-markham-tablet@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/glr/mobile/pexels-megan-markham-mobile.webp 1x, ./images/glr/mobile/pexels-megan-markham-mobile@2x.webp 2x"
                        media="(min-width: 320px)" type="image/webp">
                    <source
                        srcset="./images/glr/mobile/pexels-megan-markham-mobile.jpg 1x, ./images/glr/mobile/pexels-megan-markham-mobile@2x.jpg 2x"
                        media="(min-width: 320px)">
                    <img class="gallery__image" src="./images/glr/desktop/pexels-megan-markham-desktop.jpg"
                        alt="A set of ice-cream photos">
                </picture>
            </div>
            <div class="gallery__item gallery__item--7">
                <picture>
                    <source
                        srcset="./images/glr/desktop/pexels-roman-odintsov-desktop.webp 1x, ./images/glr/desktop/pexels-roman-odintsov-desktop@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source
                        srcset="./images/glr/desktop/pexels-roman-odintsov-desktop.jpg 1x, ./images/glr/desktop/pexels-roman-odintsov-desktop@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/glr/tablet/pexels-roman-odintsov-tablet.webp 1x, ./images/glr/tablet/pexels-roman-odintsov-tablet@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source
                        srcset="./images/glr/tablet/pexels-roman-odintsov-tablet.jpg 1x, ./images/glr/tablet/pexels-roman-odintsov-tablet@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/glr/mobile/pexels-roman-odintsov-mobile.webp 1x, ./images/glr/mobile/pexels-roman-odintsov-mobile@2x.webp 2x"
                        media="(min-width: 320px)" type="image/webp">
                    <source
                        srcset="./images/glr/mobile/pexels-roman-odintsov-mobile.jpg 1x, ./images/glr/mobile/pexels-roman-odintsov-mobile@2x.jpg 2x"
                        media="(min-width: 320px)">
                    <img class="gallery__image" src="./images/glr/desktop/pexels-roman-odintsov-desktop.jpg"
                        alt="A set of ice-cream photos">
                </picture>
            </div>
            <div class="gallery__item gallery__item--8">
                <picture>
                    <source
                        srcset="./images/glr/desktop/pexels-sebastian-coman-desktop.webp 1x, ./images/glr/desktop/pexels-sebastian-coman-desktop@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source
                        srcset="./images/glr/desktop/pexels-sebastian-coman-desktop.jpg 1x, ./images/glr/desktop/pexels-sebastian-coman-desktop@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/glr/tablet/pexels-sebastian-coman-tablet.webp 1x, ./images/glr/tablet/pexels-sebastian-coman-tablet@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source
                        srcset="./images/glr/tablet/pexels-sebastian-coman-tablet.jpg 1x, ./images/glr/tablet/pexels-sebastian-coman-tablet@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/glr/mobile/pexels-sebastian-coman-mobile.webp 1x, ./images/glr/mobile/pexels-sebastian-coman-mobile@2x.webp 2x"
                        media="(min-width: 320px)" type="image/webp">
                    <source
                        srcset="./images/glr/mobile/pexels-sebastian-coman-mobile.jpg 1x, ./images/glr/mobile/pexels-sebastian-coman-mobile@2x.jpg 2x"
                        media="(min-width: 320px)">
                    <img class="gallery__image" src="./images/glr/desktop/pexels-sebastian-coman-desktop.jpg"
                        alt="A set of ice-cream photos">
                </picture>
            </div>
            <div class="gallery__item gallery__item--9">
                <picture>
                    <source
                        srcset="./images/glr/desktop/pexels-teejay-desktop.webp 1x, ./images/glr/desktop/pexels-teejay-desktop@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source
                        srcset="./images/glr/desktop/pexels-teejay-desktop.jpg 1x, ./images/glr/desktop/pexels-teejay-desktop@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/glr/tablet/pexels-teejay-tablet.webp 1x, ./images/glr/tablet/pexels-teejay-tablet@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source
                        srcset="./images/glr/tablet/pexels-teejay-tablet.jpg 1x, ./images/glr/tablet/pexels-teejay-tablet@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/glr/mobile/pexels-teejay-mobile.webp 1x, ./images/glr/mobile/pexels-teejay-mobile@2x.webp 2x"
                        media="(min-width: 320px)" type="image/webp">
                    <source
                        srcset="./images/glr/mobile/pexels-teejay-mobile.jpg 1x, ./images/glr/mobile/pexels-teejay-mobile@2x.jpg 2x"
                        media="(min-width: 320px)">
                    <img class="gallery__image" src="./images/glr/desktop/pexels-teejay-desktop.jpg"
                        alt="A set of ice-cream photos">
                </picture>
            </div>
            <div class="gallery__item gallery__item--10">
                <picture>
                    <source
                        srcset="./images/glr/desktop/pexels-valeria-boltneva-desktop.webp 1x, ./images/glr/desktop/pexels-valeria-boltneva-desktop@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source
                        srcset="./images/glr/desktop/pexels-valeria-boltneva-desktop.jpg 1x, ./images/glr/desktop/pexels-valeria-boltneva-desktop@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/glr/tablet/pexels-valeria-boltneva-tablet.webp 1x, ./images/glr/tablet/pexels-valeria-boltneva-tablet@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source
                        srcset="./images/glr/tablet/pexels-valeria-boltneva-tablet.jpg 1x, ./images/glr/tablet/pexels-valeria-boltneva-tablet@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/glr/mobile/pexels-valeria-boltneva-mobile.webp 1x, ./images/glr/mobile/pexels-valeria-boltneva-mobile@2x.webp 2x"
                        media="(min-width: 320px)" type="image/webp">
                    <source
                        srcset="./images/glr/mobile/pexels-valeria-boltneva-mobile.jpg 1x, ./images/glr/mobile/pexels-valeria-boltneva-mobile@2x.jpg 2x"
                        media="(min-width: 320px)">
                    <img class="gallery__image" src="./images/glr/desktop/pexels-valeria-boltneva-desktop.jpg"
                        alt="A set of ice-cream photos">
                </picture>
            </div>
        </div>
    </div>
</section>