<header class="header">
    <div class="container">
      <nav class="nav">
        <a href="index.html" class="logo link">
          <img src="./images/logo.png" alt="logo">
        </a>
        <ul class="nav__list list">
          <li class="nav__item">
            <a class="nav__link nav__link--current link" link href="index.html">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link link" link href="">About us</a>
          </li>
          <li class="nav__item">
            <a class="nav__link link" link href="">How it’s made?</a>
          </li>
          <li class="nav__item">
            <a class="nav__link link" link href="">Our products</a>
          </li>
          <li class="nav__item">
            <a class="nav__link link" link href="">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="burger-btn" type="button">
        <svg class="burger-icon">
          <use href="./images/sprite.svg#icon-Burger"></use>
        </svg>
      </button>
      <button class="main__btn" type="button">Buy now 
        <svg class="btn__icon" Width="24" Height="24">
          <use href="./images/sprite.svg#"></use>
        </svg>
      </button>
    </div>
    <div class="hero container">
      <div class="hero__left-side">
        <h1 class="hero__title">ice cream made with <span class="hero__title-red">passion</span></h1>
        <button class="hero__btn--products" type="button">Products</button>
        <button class="hero__btn--made" type="button">How it’s made?</button>          
      </div>
      <div class="hero__right-side">
        <ul class="hero__distributes list">
          <li class="distributes__cafe">
            <p class="distributes__text">
              <span>16</span>cafes</p>
          </li>
          <li class="distributes__truck">
            <p class="distributes__text">
              <span>23</span>food trucks</p>
          </li>
        </ul>
      </div>
      <div class="about-milk">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos natus architecto ipsam repudiandae minus quibusdam totam nihil obcaecati ratione corrupti exercitationem nulla, praesentium deleniti eligendi velit deserunt quia! Quia, fuga!</p>
      
      </div>
    </div>
    
  </header>