<section class="products container"  id="product">

    <p class="label">
        100% natural
    </p>
    <h2 class="title">
        products
    </h2>
    <ul class="products-list list">
        <li class="products-list__item">
            <div class="products-list__container products-list__container-ice-cream">
                <h3 class="products-list__title products-list__title-ice-cream">ice cream</h3>
                <div class="text-wrapper">
                    <p data-more-1 class="text-overlay">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam expedita, laborum labore
                        perferendis velit aliquid esse a? Deserunt iusto, ipsum accusamus magni explicabo porro eveniet quisquam amet
                        corrupti itaque modi ipsam alias! Cumque sunt maiores natus ipsa iure hic doloremque, quis quos! Aute
                        m sit sint laboriosam architecto maiores voluptas at?</p>
                    <p class="products-list__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et. dolore magna aliqua facilisis.
                    </p>
                </div>
            <button type="button" data-more-button-1 class="products-list__button">
            </button>
            </div>
        </li>
        <li class="products-list__item">
            <div class="products-list__container products-list__container-coffee">
                <h3 class="products-list__title products-list__title-ice-coffee">ice coffee</h3>
                <div class="text-wrapper">
                    <p data-more-2 class="text-overlay">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam expedita,
                        laborum labore
                        perferendis velit aliquid esse a? Deserunt iusto, ipsum accusamus magni explicabo porro eveniet quisquam amet
                        corrupti itaque modi ipsam alias! Cumque sunt maiores natus ipsa iure hic doloremque, quis quos! Aute
                        m sit sint laboriosam architecto maiores voluptas at?</p>
                    <p class="products-list__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et. dolore magna aliqua facilisis.
                    </p>
                </div>
                <button type="button" data-more-button-2 class="products-list__button">
                </button>
            </div>
        </li>
            <li class="products-list__item">
            <div class="products-list__container products-list__container-milkshakes">
                <h3 class="products-list__title products-list__title-milkshakes">milkshakes</h3>
                <div class="text-wrapper">
                    <p data-more-3 class="text-overlay">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam expedita,
                        laborum labore
                        perferendis velit aliquid esse a? Deserunt iusto, ipsum accusamus magni explicabo porro eveniet quisquam amet
                        corrupti itaque modi ipsam alias! Cumque sunt maiores natus ipsa iure hic doloremque, quis quos! Aute
                        m sit sint laboriosam architecto maiores voluptas at?</p>
                    <p class="products-list__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et. dolore magna aliqua facilisis.
                    </p>
                </div>
                <button type="button" data-more-button-3 class="products-list__button">
                </button>
                
            </div>
        </li>
    </ul>

</section>