<!-- Customers Feedback -->
<section class="feedback">
    <h2 class="title visually-hidden">Customer feedback</h2>
    <div class="container">
        <div class="slider">
            <div class="slider__item">
                    <img class="review__userpic" src="./images/slider/customer1.png" alt="Customer's photo">
                <div class="review__wrapper">
                    <p class="review__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                        accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <p class="review__author">
                    Lisa, Washington
                </p>
            </div>
            <div class="slider__item">
                    <img class="review__userpic" src="./images/slider/customer2.png" alt="Customer's photo">
                <div class="review__wrapper">
                    <p class="review__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                        accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <p class="review__author">
                    Emily, Los Angeles
                </p>
            </div>
            <div class="slider__item">
                    <img class="review__userpic" src="./images/slider/customer3.png" alt="Customer's photo">
                <div class="review__wrapper">
                    <p class="review__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                        accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <p class="review__author">
                    Emma, New York
                </p>
            </div>
        </div>
    </div>
</section>