body.modal-open {
  overflow: hidden;
}

.backdrop {
  z-index: 101;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity $transition-duration $transition-function;
  overflow-y: scroll;

  @media screen and (max-width: 767px) {
    padding: 93px 15px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding: 207px 159px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

  .modal {
    transform: translate(-50%, -50%) scale(0.7);
    transition: transform $transition-duration $transition-function;
  }
}

.modal {
  position: relative;
  padding: 30px;
  border-radius: 15px;
  background-color: $white-color;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform $transition-duration $transition-function;

  @media screen and (min-width: 768px) {
    padding: 40;
  }
  @media screen and (max-width: 1279px) {
    max-width: 450px;
    min-height: 609px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;

    transform: translate(-50%, -50%) scale(1);
  }
}

.modal__close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 6px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $white-color;
}

.modal__close-icon {
  fill: $accent-color;
  transition: fill $transition-duration $transition-function;

  &:hover,
  &:focus {
    fill: #d4134a;
  }
}
