.contacts {
  position: relative;
  background: $section-bg-color;
  padding-top: 82px;
  padding-bottom: 82px;
  background-image: linear-gradient(to bottom, #ffffff 8%, #fff5f6 8%);

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to bottom, #ffffff 17%, #fff5f6 17%);
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(to bottom, #ffffff 19.5%, #fff5f6 19.5%);
  }
}

.contacts-lists {
  display: block;
  margin: 0 auto;
  margin-bottom: 54px;
  justify-content: center;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: -20px;
    margin-bottom: 81px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: -25px;
    margin-bottom: 86px;
  }
}
.contacts-lists__card {
  padding-left: 20px;
  padding-top: 42px;
  padding-bottom: 42px;
  padding-right: 20px;
  line-height: 1.5;
  width: 220px;
  height: 427px;
  background: $white-color;
  box-shadow: 2px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;

  flex-basis: calc(100% / 3 - 20px);
  height: 544px;
  padding-left: 32px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 32px;

  box-shadow: 0px 10px 18px rgba(235, 80, 120, 0.1);

  transition: box-shadow $transition-duration $transition-function;
  &:hover,
  &:focus {
    box-shadow: 0px 6px 20px rgba(240, 10, 65, 0.4);
  }
}

.contacts-list__button {
  min-width: 80px;
  background: #f0d1a5;
  border-radius: 4px;
  border-color: transparent;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: $white-color;
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.87;
  }
}
.food-truck {
  min-width: 130px;
  background: #c2e297;
}
.contacts-lists__location {
  position: relative;
  margin-bottom: 50px;
  &::after {
    top: 95px;
    left: 0;
    position: absolute;
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #e1e1e1;
    top: 125px;
  }
}
.contacts-lists__city {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.86;
  }
}
.contacts-lists__desc {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.64;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.81;
  }
}

.contacts-lists__schedule {
  position: relative;
  margin-bottom: 50px;
}
.contacts-lists__schedule::after {
  top: 110px;
  left: 0;
  position: absolute;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: #e1e1e1;
  @media screen and (min-width: 768px) {
    top: 130px;
  }
}

.contacts-lists__day {
  color: #000000;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.88;
  }
}

.contacts-lists__time {
  color: $pale-bg-color;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.88;
  }
}
.contacts-lists__telmail {
  display: block;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  text-decoration: none;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.88;
  }
}
.contacts-list__link {
  color: #907e82;
  text-decoration: none;
}
.contacts-button__wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    &__item:not(:last-child) {
      margin-right: 15px;
    }
  }
}
.about__btn-location {
  fill: $white-color;
  color: $white-color;
  margin-left: 13.62px;
}
.contacts-button__locations {
  display: block;

  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  padding: 8px 20px 8px 20px;
  border: transparent;
  border-radius: 22px;
  background: #d41342;
  margin-bottom: 10px;
  color: $white-color;
  fill: $white-color;
  &:hover,
  &:focus {
    background: #d41342;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: 15px;
  }
}

.contacts-button__franchise {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  padding: 8px 20px 8px 20px;
  border: transparent;
  border-radius: 22px;
  background: $white-color;
  margin-bottom: 10px;
  fill: #d41342;
  color: #d41342;
  &:hover,
  &:focus {
    background: #ecebeb;
  }
  @media screen and (min-width: 768px) {
    margin-right: 15px;
  }
}

/*location*/

.modal1 {
  background: $bg-color;
  position: relative;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 250px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform $transition-duration $transition-function;
  display: none;
  position: fixed;
  z-index: 100;

  @media screen and (min-width: 768px) {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 600px;
    height: 450px;
    left: 48%;
    top: 50%;
    transform: translate(-50%, -48%);
  }

  @media screen and (min-width: 1280px) {
    padding-top: 35px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    width: 900px;
    height: 750px;
    left: 49%;
    top: 50%;
    transform: translate(-50%, -49%);
  }
}

.close {
  position: absolute;
  color: black;
  float: right;
  font-size: 25px;
  font-weight: bold;
  top: 0px;
  right: 5px;

  @media screen and (min-width: 768px) {
    top: 0px;
    right: 10px;
    font-size: 25px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 35px;
    top: 0px;
    right: 10px;
  }
}

.close:hover,
.close:focus {
  color: $accent-color;
  text-decoration: none;
  cursor: pointer;
}

/*Фрнашиза*/
.modal2 {
  background-color: $bg-color;
  position: relative;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  min-height: 250px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform $transition-duration $transition-function;
  display: none;
  position: fixed;
  z-index: 100;

  @media screen and (min-width: 768px) {
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 600px;
    height: auto;
    left: 48%;
    top: 50%;
    transform: translate(-50%, -48%);
  }

  @media screen and (min-width: 1280px) {
    padding-top: 35px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    width: 700px;
    height: auto;
  }
}

.franchise__title {
  margin-bottom: 25px;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1.2;
  }

  @media screen and (min-width: 1280px) {
    font-size: 35px;
    line-height: 1.3;
  }
}

.franchise__info {
  text-align: left;
  margin-bottom: 5px;
  font-family: $secondary-font;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  font-style: bolt;
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 22px;
    margin-bottom: 10px;
  }
}

.franchise__detal {
  margin-left: 35px;
  padding: 0;
  text-align: left;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  list-style-position: intside;

  @media screen and (min-width: 768px) {
    font-size: 15px;
    line-height: 1.6;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.7;
  }
}

.franchise__detal:not(:last-child) {
  margin-bottom: 30px;
}

.franchise__detal-item {
  padding-left: 4px;
}

.close2 {
  position: absolute;
  color: black;
  float: right;
  font-size: 25px;
  font-weight: bold;
  top: 0px;
  right: 10px;

  @media screen and (min-width: 768px) {
    top: 5px;
    right: 15px;
    font-size: 25px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 35px;
    top: 10px;
    right: 20px;
  }
}

.franchise__logo-text {
  color: $accent-color;
}

.close:hover,
.close:focus {
  color: $accent-color;
  text-decoration: none;
  cursor: pointer;
}
