.footer {
  background-color: $section-bg-color;
}
.footer__title {
  margin-bottom: 17px;
  padding-right: 66px;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;

  color: $pale-bg-color;
}
.footer__text {
  margin-bottom: 43px;
  padding-right: 100px;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $accent-color;
}
.social-links__list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;
}
.social-links__item {
  margin-left: 28px;
}
.social-links__item:first-child {
  margin-left: 0px;
}
.social-links__link {
  fill: #fea5bb;
}

.social-links__icon {
  width: 32px;
  height: 32px;
  transition: fill $transition-duration $transition-function;

  .social-links__link:hover &,
  .social-links__link:focus & {
    fill: $accent-color;
  }
}

.footer-tel {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 65px;
}
.footer__tel {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.8;

  color: #000000;
}
.tel-color {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.8;

  color: $accent-color;
}

.copyright {
  border-top: 1px solid #e1e1e1;
  padding: 22px 61px 25px 79px;
}
.copyright__text {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;

  text-align: center;

  color: #907e82;
}

@media screen and (min-width: 768px) {
  .footer__title {
    width: 340px;
    padding-right: 0px;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
  }
  .footer__text {
    width: 340px;
    padding-right: 0px;
    font-size: 48px;
    letter-spacing: 0.06em;
  }
  .social-links__icon {
    width: 34px;
    height: 34px;
  }
  .container{
    display: flex;
    justify-content: space-between;
  }
  .footer__tel {
    font-size: 14px;
    line-height: 1.85;
  }
  .tel-color {
    font-size: 14px;
    line-height: 1.85;
  }
  .footer__motto {
    margin-bottom: 91px;
  }
  .copyright {
    padding-top: 29px;
    padding-bottom: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__title {
    width: 100%;
    padding-right: 0px;
    font-size: 30px;
    line-height: 1.13;
  }
  .footer__text {
    width: 100%;
    padding-right: 0px;
    font-size: 58px;
    line-height: 1.13;
    margin-bottom: 106px;
  }

  .social-links__list {
    margin-bottom: 50px;
  }
  .footer__tel {
    font-size: 16px;
    line-height: 1.87;
  }
  .tel-color {
    font-size: 16px;
    line-height: 1.87;
  }
  .copyright {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}
