.header {
    padding-top: 8px;
}

.logo {
    padding-right: 110px;
}

.hero__title {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 1.15em;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $white-color;

    &-red {
        font-size: 48px;
        line-height: 0.95em;
        text-transform: uppercase;
        color: $accent-color;
        }
}


@media (min-width: 768px) {
    .mobile-menu {
      display: none;
    }

    .nav__list {
        display: none;
    }
    
    .header {
      padding: 0;
    }
  
    .nav {
      display: flex;
      align-items: center;
    }
}
  
@media (min-width: 1200px) {
    .nav__list {
    display: flex;
    align-items: center;
    }

    .nav__item {
    &:not(:last-child) {
        margin-right: 35px;
        position: relative;
        }
    }
  
    .nav__link {
        font-family: $main-font;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.31em;
        color: $white-color;
            &:hover,
            &:focus {
            color: $accent-color;
            }
        }
    }
