
@media (max-width: 768px) {
    .modal-btn {
        display: none;
    }
}



@media (max-width: 1199px) {
    .nav__list {
        display: none;
    }

    .burger-btn {
        background-color: transparent;
        cursor: pointer;
        border: none;
        padding: 0;
        transition: fill var(--main-animation);
        &:hover,
        &:focus {
            fill: var();
        }
    }

    .hero__right-side {
        display: none;
    }

    .burger-icon {
        width: 20px;
        height: 12px;
    }
}