.feedback {
  padding-top: 40px;
  padding-bottom: 34px;
  @media screen and (min-width: 1280px) {
    padding-top: 60px;
    padding-bottom: 66px;
  }
  .container {
    text-align: center;
    @media screen and (min-width: 768px) {
      padding: 0 74px;
    }

    @media screen and (min-width: 1280px) {
      padding: 0 205px;
    }
  }
}

.slider {
  position: relative;
  min-width: 0;
  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slick-dots li {
    list-style: none;
    margin: 0 15px;
  }
  .slick-dots button {
    position: absolute;
    // bottom: 2px;
    font-size: 0;
    width: 12px;
    height: 12px;
    background-color: #d9d9d9;
    border-radius: 50%;
    outline: none;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
  .slick-dots li.slick-active button {
    background-image: url(../images/slider/home.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-color: transparent;
  }
}

.review {
  &__userpic {
    margin: 0 auto 29px;

    @media screen and (min-width: 768px) {
      margin: 0 auto 19px;
    }

    @media screen and (min-width: 1280px) {
      margin: 0 auto 15px;
    }
  }
  &__wrapper {
    background-color: #fafafa;
    margin-bottom: 52px;
    padding: 43px 50px 20px;

    @media screen and (min-width: 768px) {
      margin-bottom: 42px;
      padding: 30px 36px 28px 60px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 34px;
      padding: 47px 25px 32px 32px;
    }
  }
  &__text {
    position: relative;
    z-index: 1;
    padding: 0 9px;

    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;

    color: #000000;

    background-image: repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 29px,
      #e1e1e1 1px,
      #e1e1e1 30px
    );

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 2.16;
      padding: 0 44px 6px 20px;

      background-image: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 28px,
        #e1e1e1 1px,
        #e1e1e1 29px
      );
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.86;
      padding: 0 35px 7px 28px;
    }

    &::before {
      position: absolute;
      z-index: -1;

      content: '';
      background-image: url(../images/slider/quote-icon.png);
      width: 54px;
      height: 40px;
      top: -15px;
      left: 11px;

      @media screen and (min-width: 768px) {
        top: -18px;
        left: -23px;
      }

      @media screen and (min-width: 1280px) {
        top: -17px;
        left: -8px;
      }
    }
  }
  &__author {
    position: relative;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    color: #000000;

    @media screen and (min-width: 768px) {
      margin-bottom: 35px;
      font-size: 16px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 20px;
    }

    &::before {
      position: absolute;
      content: '';
      display: block;
      background-image: url(../images/slider/review-bullets.svg);
      width: 32px;
      height: 4px;
      left: 50%;
      top: -18px;
      transform: translateX(-50%);

      @media screen and (min-width: 768px) {
        top: -14px;
      }
    }
  }
}
